<div class="item_image">
    <img src="${item_image}" alt="">
</div>
<div id="item_${item_id}" class="info_panel">
    <div class="item_name_panel">
    ${item_name}
    </div>
    <div class="icons_panel">
        ${traits_icons}
    </div>
</div>
