<div class=background style="background-image: url($image);">
    <div class="titlediv">
        <div class="title">$title</div>
            <br><br>
        <div class="subtitle">$subtitle</div>
    </div>
</div>
