<div class="header">
    <span class="page_title">${title}</span>
</div>
<div class="page_content">
    ${page_content}
</div>
<div class="footer">
    <div class="page_number_panel">${page_number}</div>
    <div class="date_panel">${update_date}</div>
</div>