<div class="section_bar">${section}</div>
<div class="name_panel">
    <div class="name_bar">${name}</div>
</div>
<div class="photo_panel"><img src="${item_image}" alt=""/></div>
<div class="bottom_panel">
    <div class="description_panel">${description}</div>
    <div class="price_panel">${price}</div>
</div>
<div class="footer">
    <div class="page_panel">${page}</div>
    <div class="date_panel">${update_date}</div>
</div>