<div class="grid_container">
    <div class="element" id="left_top">${elem1}</div>
    <div class="element" id="mid_top">${elem2}</div>
    <div class="element" id="right_top">${elem3}</div>
    <div class="element" id="left_mid">${elem4}</div>
    <div class="element" id="mid_mid">${elem5}</div>
    <div class="element" id="right_mid">${elem6}</div>
    <div class="element" id="left_bottom">${elem7}</div>
    <div class="element" id="mid_bottom">${elem8}</div>
    <div class="element" id="right_bottom">${elem9}</div>
</div>