<a href="#sec_${section_name}">
    <div class="section_image">
        <img src="${item_path}" alt=""/>
    </div>

    <div class="section_description_field">
        <span class="section_name">${section_name}</span>
<!--        <span class="section_page">s. ${section_page}</span>-->
    </div>
    <div class="section_page">${section_page}</div>
</a>