.grid_container {
    position: absolute;
    left: 0;
    top: 0;
    width: 210mm;
    height: 260mm;
    background-color: ${grid};
    grid-template-columns: 105mm 105mm;
    grid-template-rows: 130mm 130mm;
}

.grid_container.item_image {
    position: absolute;
    top: 0;
    left: 0;
    width: 105mm;
    height: 90mm;
    background-color: ${image_panel};
}

.item_image img {
    object-fit: contain;
    width: 100%;
    height: 90mm;
}

.info_panel {
    position: absolute;
    top: 90mm;
    left: 0;
    width: 100%;
    height: 40mm;
    background-color: ${info_panel};
}

.item_name_panel{
    padding-left:5%;
    width: 95%;
    height: 40%;
    line-height: 16mm;
    font-size: 18pt;
    background-color: ${item_name_panel};
}
.item_name {
    color: ${name_text}
}
.item_customary_name {
    line-height: 6mm;
    color: ${customary_name_text}
}
.icons_panel{
    width: 100%;
    height: 60%;
}
.trait_icon {
    height: 22mm;
    width: 22mm;
    object-fit: contain;
    float: left;
    margin: 1mm;
}

.trait_icon img {
    object-fit: contain;
    height: 100%;
}

.item_customary_name {

}

.item_price {
    color: ${price_text}
}


#left_top {
    position: absolute;
    top: 0;
    left: 0;
    width: 105mm;
    height: 130mm;
}

#right_top {
    position: absolute;
    top: 0;
    left: 105mm;
    width: 105mm;
    height: 130mm;
}

#left_bottom {
    position: absolute;
    top: 130mm;
    left: 0;
    width: 105mm;
    height: 130mm;
}

#right_bottom {
    position: absolute;
    top: 130mm;
    left: 105mm;
    width: 105mm;
    height: 130mm;
}