.background {
    position: absolute;
    padding: 0;
    margin: 0;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.titlediv {
    position: absolute;
    padding: 5%;
    margin: 10mm;
    height: 120mm;
    width: 90mm;
    bottom: 0;
    left: 0;
    background-color: rgba(250, 235, 215, 0.5);
}

.title {
    font-size: 45pt;
}

.subtitle {
    font-size: 60pt;
}
