body {
    font-family: "Times New Roman", Times, serif;
}

.header {
    padding-left: 5mm;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    background: ${header_bar};
    width: 205mm;
    height: 25mm;
    line-height: 25mm;
    text-align: center;
}

.page_title{
    font-size: 32pt;
    color: ${header_bar_text};
}


.page_content {
    position:absolute;
    background: ${layout};
    top: 25mm;
    left: 0;
    padding: 15mm 15mm;
    width: 180mm;
    height: 230mm;
}

.footer {
    position: absolute;
    top: 285mm;
    left: 0;
    background: ${footer_color};
    width: 210mm;
    height: 12mm;
}

.page_number_panel{
    top: 0;
    left: 0;
    position:absolute;
    margin-left: 5mm;
    color: ${footer_text};
    font-size: 20pt;
    height: 12mm;
    line-height: 12mm;
}

.date_panel {
    color: ${footer_text};
    font-size: 20pt;
    height: 12mm;
    line-height: 12mm;
    text-align: right;
    margin-right: 5mm;
}

${page_content_style}