.introduction {
    position: absolute;
    left: 0;
    top: 0;
    width: 180mm;
    margin: 15mm;
    height: 100mm;
}

.introduction_text {
    text-align: justify;
    text-justify: inter-word;
    line-height: 140%;
    font-size: 14pt;
}

.legend_container {
    width: 100%;
    height: 130mm;
    position: absolute;
    top: 130mm;
    left: 0;
}

${legend_style}