.main_panel {
    position: fixed;
    top:0;
    left:0;
    width: 210mm;
    height: 297mm;
    padding: 0;
    background: ${background};
    margin: 0;
}

.section_bar {
    padding-left: 5mm;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    background: ${top_bar};
    color: ${top_bar_text};
    width: 205mm;
    height: 25mm;
    font-size: 32pt;
    line-height: 25mm;
    text-align: center;
}

.name_panel {
    position: absolute;
    top:25mm;
    padding:5mm;
    left:0;
    background: ${title_panel};
    width: 200mm;
    height: 32mm;
}

.name_bar {
    width: 200mm;
    height: 32mm;
    background: ${title_bar};
    color: ${title_text};
    text-align: center;
    line-height: 32mm;
    font-size: 50pt;
}
.photo_panel {
    position: absolute;
    top:67mm;
    left:0;
    padding: 5mm;
    background: ${photo_panel};
    width: 200mm;
    height: 135mm;
}

.photo_panel img {
    width: 100%;
    object-fit: contain;
    height: 135mm;
}

.bottom_panel {
    position: absolute;
    top: 212mm;
    left: 0;
    background: ${bottom_panel};
    width: 210mm;
    height: 70mm;
}

.footer {
    position: absolute;
    top: 282mm;
    left: 0;
    background: ${footer_color};
    width: 210mm;
    height: 15mm;
}

.description_panel {
    position: relative;
    top: 0;
    left: 0;
    margin: 5mm;
    width: 120mm;
    height: 50mm;
    background: ${description_panel};
    color: ${description_text};
    font-size: 14pt;
    padding: 5mm;

}

.price_panel {
    top: 0;
    left: 142mm;
    position: absolute;
    width: 30mm;
    height: 15mm;
    margin: 10mm;
    padding: 5mm;
    background: ${price_panel};
    color: ${price_text};
    font-size: 40pt;
}

.page_panel{
    top: 0;
    left: 0;
    position:absolute;
    margin-left: 5mm;
    color: ${footer_text};
    font-size: 20pt;
    height: 15mm;
    line-height: 15mm;
}

.date_panel {
    color: ${footer_text};
    font-size: 20pt;
    height: 15mm;
    line-height: 15mm;
    text-align: right;
    margin-right: 5mm;
}
@page {
    size: A4;
    margin: 0;
}
