.legend {
    margin-left: 15mm;
    margin-right: 15mm;
}

.legend_title {
    height: 12mm;
    margin-bottom: 7mm;
    font-size: 30pt;
}
.trait_name {
    height: 30mm;
    width: 40mm;
    line-height: 30mm;
    font-size: 16pt;
    float: left;
}

.legend_element {
    float: left;
    margin-left: 2.5mm;
    margin-right: 2.5mm;
    width: 30mm;
    height: 30mm;
    position: relative;
}

.legend_clearfix {
    clear: both;
}

.legend_row {
    width: 100%;
    height: 30mm;
    margin-top: 2.5mm;
    margin-bottom: 2.5mm;
    position: relative;
}

.trait_icon {
    width: 100%;
    margin-left: 3mm;
    margin-right: 3mm;
}

.trait_icon img{
    object-fit: contain;
    width: 24mm;
    height: 24mm;
}

.legend_icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 24mm;
    height: 24mm;
    object-fit: contain;
}

.legend_caption {
    position: absolute;
    top: 24mm;
    width: 30mm;
    height: 6mm;
    color: black;
    font-size: 15pt;
    line-height: 6mm;
    text-align: center;
}