.main_panel {
    background-color: ${background};
    width: 210mm;
    height: 297mm;
    position:absolute;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
}

.title-bar {
    position: absolute;
    top: 127.5mm;
    left: 0;
    width: 210mm;
    height: 40mm;
    text-align: center;
    font-size: 42pt;
    line-height: 40mm;
    background-color: ${title_bar};
    color: ${title_text};
}


.photo1 {
    height: 107.5mm;
    width: 190mm;
    top: 177.5mm;
    left: 10mm;
    position: absolute;
    object-fit: contain;
    border-color: darkgreen;
    border-width: 2mm;
}

.photo2 {
    height: 107.5mm;
    width: 190mm;
    top: 10mm;
    left: 10mm;
    position: absolute;
    object-fit: contain;
    border-color: darkgreen;
    border-width: 2mm;
}

@page {
    size: A4;
    margin: 0;
}
