.element {
    width: 55mm;
    height: 75mm;
    margin-right: 2.5mm;
    margin-left: 2.5mm;
}

#left_top {
    position: absolute;
    top: 0;
    left: 0;
}

#mid_top {
    position: absolute;
    top: 0;
    left: 60mm;
}

#right_top {
    position: absolute;
    top: 0;
    left: 120mm;
}

#left_mid {
    position: absolute;
    top: 75mm;
    left: 0;
}

#mid_mid {
    position: absolute;
    top: 75mm;
    left: 60mm;
}

#right_mid {
    position: absolute;
    top: 75mm;
    left: 120mm;
}

#left_bottom {
    position: absolute;
    top: 150mm;
    left: 0;
}

#mid_bottom {
    position: absolute;
    top: 150mm;
    left: 60mm;
}

#right_bottom {
    position: absolute;
    top: 150mm;
    left: 120mm;
}