.section_image {
    position: absolute;
    top: 0;
    left: 0;
    margin: 2.5mm;
    width: 50mm;
    height: 50mm;
}

.section_description_field {
    position: absolute;
    top: 55mm;
    left: 2.5mm;
    background-color: ${section_description_field};
    width: 50mm;
    text-align: center;
    height: 15mm;
    display: table;
}

a { text-decoration: none;}

.section_image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.section_name {
    color: ${section_description_text};
    vertical-align: middle;
    display: table-cell;
    text-align: center
}

.section_page{
    background-color: ${section_description_field};
    position: absolute;
    width: 10mm;
    height: 10mm;
    border-radius: 10mm;
    top: 40mm;
    left: 40mm;
    color: ${section_description_text};
    text-align: center;
    line-height: 10mm;
    border-color: ${section_description_text};
    border-style: solid;
}