.section_title{
    font-size: 32pt;
    color: ${section_title};
}

.subsection_title{
    padding-left: 4mm;
    font-size: 28pt;
    color: ${subsection_title};
}

.layout {
    position: absolute;
    top: 25mm;
    left: 0;
    width: 210mm;
    height: 260mm;
}

${layout_style}